doctype html
html
  head
    title Sign In
    link(rel='stylesheet', href='/css/output.css')
  body(class='min-h-screen flex')

    //- Left Side - Image
    div(class='w-1/2 min-h-full bg-cover bg-center' style="background-image: url('/images/category/category-2f1ec2f5-728c-42b5-abc4-716012b65153.jpeg');")

    //- Right Side - Form
    div(class='w-1/2 flex items-center justify-center bg-white')
      div(class='w-full max-w-md p-8')
        block form
